APP_PORT=3000
NODE_ENV=development

API_PREFIX=api
ENABLE_VERSION=true
VERSION_PREFIX=v
DEFAULT_VERSION=1

SW_USERNAME=nest
SW_PASSWORD=nest
SW_PATH=/docs

TZ=UTC

PROMETHEUS_PORT=9090

GRAFANA_PORT=3001
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin

LOKI_PORT=3100

DB_NAME=miniecommarcedb
DB_USER=miniecommarcedb_user
DB_PASSWORD=miniecommarcedb123
DB_HOST=localhost
DB_PORT=5444

AUTH_JWT_ACCESS_TOKEN_SECRET=
AUTH_JWT_ACCESS_TOKEN_EXPIRES_IN=15m

AUTH_JWT_REFRESH_TOKEN_SECRET=
AUTH_JWT_REFRESH_TOKEN_EXPIRES_IN=7d

AUTH_JWT_PAYLOAD_ENCRYPT=true

AUTH_JWT_ENCRYPTION_KEY=
AUTH_JWT_ENCRYPTION_IV=

# openssl rand -base64 32   # buat ACCESS & REFRESH TOKEN SECRET
# openssl rand -hex 32      # buat ENCRYPTION_KEY
# openssl rand -hex 16      # buat ENCRYPTION_IV
